<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMC-2019.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD2834F3221786D8005A5DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD28350A221786D8005A5DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD283515221786D8005A5DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
